version: 3
services:
  upgrade-unpinned:
    image: nginx:1.21.5
  upgrade-unpinned-combined:
    image: renovate/renovate:32.11.2
  upgrade-pinned:
    image: redis:6.2.5@sha256:c98f0230b5f1831f4f5dd764c4ea8ef11d3e3a1a3593278eb952373d97c82b27
  noupgrade-pinned:
    image: mysql:8.0.28@sha256:1c75ba7716c6f73fc106dacedfdcf13f934ea8c161c8b3b3e4618bcd5fbcf195 
  noupgrade-unpinned:
    image: ubuntu:20.04
