version: 3
services:
  upgrade-unpinned:
    image: nginx:1.21.5
  upgrade-unpinned-combined:
    image: renovate/renovate:32.11.2
  upgrade-pinned:
    image: redis:6.2.6@sha256:69a3ab2516b560690e37197b71bc61ba245aafe4525ebdece1d8a0bc5669e3e2
  noupgrade-pinned:
    image: mysql:8.0.28@sha256:8cdf596eb3fba84ae6d0ad683d330dcaf87ef8fb51e4d5dd9f1e289c5012e0f8 
  noupgrade-unpinned:
    image: ubuntu:20.04
