version: 3
services:
  # Should create upgrade PR to new version without digest
  upgrade-unpinned:
    image: nginx:1.22.0

  # Should create upgrade PR to new version without digest
  # but combined with `Dockerfile` which's digest is pinned and updated.
  # Note, this does not reflect the two different versions for same package PR.
  # Should also produce suggested commit message with GitHub links.
  upgrade-unpinned-combined:
    image: renovate/renovate:32.99.11

  # Should create upgrade PR to new version and update digest.
  upgrade-pinned:
    image: redis:7.0.2@sha256:d581aded52343c461f32e4a48125879ed2596291f4ea4baa7e3af0ad1e56feed

  # Should create upgrade PR for new digest but no new version (current digest is dummy)
  noupgrade-pinned:
    image: mysql:8.0.29@sha256:8cdf596eb3fba84ae6d0ad683d330dcaf87ef8fb51e4d5dd9f1e289c5012e0f8

  # Should not be included in any upgrade PR.
  noupgrade-unpinned:
    image: ubuntu:22.04
